    

    tr:nth-child(even) {
        background-color: blue;
        color: aliceblue;
    }
    tr:nth-child(odd) {
        background-color: aliceblue;
        color: blue;*/
    }
    
    tr:first-child {
        background-color: brown;
        text-transform:uppercase ;
    }
    tr:last-child{
        background-color: brown;
        text-transform:uppercase ;
    }