*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


ul {
    background-color: aquamarine;
    display: flex;
    height: 70vw;
    flex-direction: column;
    margin: 5px;
    
}

a {
    padding: 10px;
    color: black;
    width: 90px;
    text-decoration: none;
    
}

li {
    border-bottom-style:solid ;
    border-color: gray;
    list-style: none;
    margin-left: 30px;
    text-decoration: none;
    padding: 20px;
    width: 70%;
    
}

nav {
    width: 40vw;

}


main {
    display: flex;

}

div{
    padding: 20px;
    text-align: center;
    width: 67vw;
    margin: 5px;
    background-color: lightgray;
}