@import url(https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap);


ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
}

a {
    background-color: rgb(0, 0, 0);
    margin: 5px;
    padding: 5px;
    text-align: center;

    width: 100px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
}

a:hover {
    transition: 200ms;
    background-color: white;
    color: black;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 10px;

}

ul li ul{
    display: none;
}

div {
    border: solid 2px;
    display: block;
    padding: 20px;
}



ul li:hover > ul{
    display: block;
    position: absolute;
}


table td {
    border: 2px black solid;
    margin: 0px;
}
div div {
    margin: 20px;
    background-color: rgb(224, 235, 255);
}
#d1 {
    padding: 20px;
    
    display: flex;
    margin: 20px;

    background-color: rgb(122, 122, 122);
}

table {
    font-family: 'Mystery Quest';
    text-decoration:solid;
    font-weight: bold;
    text-align: center;
    border-collapse: collapse;
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
 
tr {
    background-color: aquamarine
}
tr:nth-child(even)  {
    td:nth-child(odd){

        background-color: aqua;
    }
}
tr:nth-child(odd)  {
    td:nth-child(even){

        background-color: aqua;
    }
}
/*
tr:nth-child(odd) {
    background-color: rgb(41, 80, 124);
}

tr td:nth-child(even) {

}

tr td{

}
/*
tr td:nth-child(odd +1) {
    background-color: aqua;
}

