<?xml version="1.0" encoding="UTF-8"?>
<Restaurante>
    <carta>
    
     <producto>
        <nombre>Gofre Belgas</nombre>
        <precio>5.95€</precio>
        <descripcion>Dos de nuestros famosos Gofres belgas con abundante sirope</descripcion>
       <calorias>650</calorias>
    </producto>
    
     <producto>
        <nombre>Gofres Belgas con fresas</nombre>
        <precio>7.95</precio>
        <descripcion>Dos de nuestros famosos Gofres belgas con abundante sirope</descripcion>
        <calorias>900</calorias>
    </producto>
    
     <producto>
        <nombre>Gofres Belgas con frutas del bosque</nombre>
        <precio>8.95</precio>
        <descripcion>Gofres Belgas con frutas del bosque</descripcion>
        <calorias>900</calorias>
    </producto>
    
     <producto>
        <nombre>Tostada Francesa</nombre>
        <precio>4.50</precio>
        <descripcion>Dos gruesas rebanadas de nuestro pan francés casero</descripcion>
        <calorias>600</calorias>
    </producto>
    
     <producto>
        <nombre>Desayuno de la casa</nombre>
        <precio>6.95</precio>
        <descripcion>Dos huevos, bacon o salchicha, tostada y patatas fritas</descripcion>
        <calorias>950</calorias>
    </producto>
    
    </carta>
</Restaurante>