body {
    font-family: Georgia, Cambria, serif;
    font-size: 1.6rem;
    font-size: 62.5%;
    line-height: 2;
    background-color: rgb(245, 245, 245);
    margin: 0;
}

h1 {
    font-size: 300%;
    font-family: Verdana, sans-serif;
    color: #421010;
    text-align: center;

}


main {
    width: 80%;
    margin: auto;
}

.container {
    max-width: 1000px;
    min-height: 100vh;
}

.highlight {
    background-color: black;
    color: aliceblue;
    font-style: oblique;
    padding: 0.2rem;
    
}

.intro {
    background-color: aqua;
    color: blue;
    padding: 0.5rem;
}

.data-list {

    list-style: none;
    text-align: left;
    padding: 0;
}

.label {
    color: green;
}

.acronym {
    text-align: center;
}
backquote {
    padding: 0;
}
.quote2 {
    text-align: center;
}

#obrasUl {
    color:deeppink;
    padding: 1;
    margin: 4;
}

.obras {
    background-color: brown;
}

#tituloObras {

    background-color: blueviolet;
    padding: 0.5rem;
}