
* {
  margin: 0;
}

p {
    color: blue;
}

.destacado {
    background-color: yellow;
}

.peque {
    font-size: 8px;
}

input[type="text"] {
  border: 2px solid #D667C2;
}

.card:has(img) {
    border: 2px solid green;
}

:is(header, main, footer)


