ol:first-of-type {

    li {
        color: brown;
    }
    
    li:first-child{
        color: red;
    }
    li:nth-child(3) {
        color: green;
    }
    li:last-child {
        color: blue;
    }
}

ol:last-of-type {
    li:nth-child(even) {
        color: blue;
    }
    li:nth-child(odd) {
        color: red;
    }
}