a {
    background-color: rgb(4, 4, 91);
    color: aliceblue;
    font-style: normal;
    width: 25%;
    display: block;
    text-decoration: none;
}

h1{
    background-color: rgb(4, 4, 91);
    color: aliceblue;
}

article {
    margin-left: 30%;
    display: block;
    h2 {
        background-color: green;
        color: aliceblue;
        padding: 5px;
    }
    width: 60%;
    background-color: aliceblue;
    p {
        padding: 5px;
    }

}
body {
    background-color: rgb(214, 214, 214);
}