ul {
    display: flex;
    padding: 0px;
}

a {
    width: 150px;
    height: 30px;
    margin: 5px;
    display:block;
    background-color: blue;
    color: red;
    text-align: center;
    
}
li {
    list-style-type: "* -";
    text-decoration: none;
}

li ul {
    display: none;
}

ul li:hover > ul{
display: block;
position: absolute;
}

body {

    background:linear-gradient(to top, blue,red);
    height: 300vh;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;

   
}

div {
    position: fixed;
    background-color:darkorange ;
    margin-top: 200px;
    top:0px;
}
footer {
    position: fixed;
    bottom: 0px;
    background-color:aquamarine ;
    width: 100%;
    margin: 0px;
    padding: 0px;
    left: 0%;
}