body{
    background-color: rgb(112, 199, 199);
}
h1 {
    font-size: 4em;
    font-style: ;
    color: blue;
    text-align: center;
    letter-spacing: 1em;
}
p {
    border-style: dotted;
    height: 250px;
    width: 20%;
    padding: 2% 2% 2%;
    background-color:aqua ;
    float: left;
    margin: 20px;
    overflow: auto;
}
p::first-letter {
    font-style:oblique ;
    font-weight: bold;
    font-size: 2em;
    color: maroon;
}