body{
    background-color: black;
}


h1 {
    color: white;
    display: flex;
    justify-content: end;
}

main {
    max-width:100vw ;
}
section {
    display: flex;
    flex-wrap: wrap;

}
article:nth-child(even) {
    background-color: aqua;
}

article {
    width: 600px;
    flex: 1;
    max-width: 600px;
    background-color: blue;
    align-content: center;
    text-align: center;
}

article p{
    text-align: left;
}
article img {
    max-width: 600px;
    margin: 2px;
}

article:nth-child(3) {
    background-color: bisque;
}