body{
    background-color: black;
}


h1 {
    color: white;
    text-align: right;
}

article {
    display: flex;
}
div:nth-child(even) {
    background-color: aqua;
}

div {
    width: 60vw;
    background-color: blue;
    align-content: center;
    text-align: center;
    display: block;
}

div p{
    text-align: left;
}
div img {
    max-width: 60vw;
    margin: 2px;
}